/*-----------------------------------------------EVERYTHING---------------------------------------*/
:root{
    --header:rgb(32, 32, 32);
    --main:rgb(241, 241, 241);
    --footer:rgb(80, 80, 80);
}
*{
    padding: 0;
    margin: 0;
}
html body{
    overflow-x: hidden;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--footer);
}
/*-------------------------------------------------HEADER-------------------------------------------------*/
header{
    background-color:var(--header);
    text-align: center;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}
.marchand{
    width: 75%;
    height: auto;
}

/*-------------------------------------------------MAIN---------------------------------------*/
main{
    padding-top: 40px;
    background-color: var(--main);
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/*---------------------------------------------IMPORTANT-------------------------------------------*/
.important{
    background-color: rgb(32, 32, 32);
    color:rgb(236, 236, 236);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}

.hide{
    text-align: left;
    color: #000000;
    width: 400px;
    position: absolute;
    left: 20px;
    margin-top: 10px;
}

.hideaway{
    margin-top: 15px;
    background-color:#969696;
    border: 2px solid black;
    opacity: 0;
    display: none;
    transition: all 0.5s;
}

.important:hover + .hideaway{
    opacity: 100;
    display:block;
}
.important:hover{
    background-color:#3d3d3d;
}
.note{
    font-size: 14px;
    color: black;
    font-style: italic;
}


/*------------------------------------------SEARCHBAR----------------------------------------*/
.searchbar{
    border: 2px solid black;
    background-color: var(--header);
    width: 40%;
    margin: auto;
    border-radius: 3vh;
    min-width: 150px;
    margin-bottom: 10px;
}
.searchbar button:hover a{
    color:rgb(190, 190, 190) ;
}

.btncontainer{
    display: inline-block;
    background-color: inherit;
    width: 20%;
    margin: 10px auto;
}

.btncontainer button a{
    text-decoration: none;
    color:rgb(236, 236, 236);
    animation: search 1.2s ease-out;
}
@keyframes search {
    from{
        color: var(--header);
    }
    to{
        color:rgb(236, 236, 236); ;
    }
}
.btncontainer button{
    border: none;
    background-color: var(--header);
    font-size: 20px;
    cursor: pointer;
}

/*-----------------------------------------TITRE-------------------------------------------*/

.mid h1{
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    padding-top: 20px;

}
.mid h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    padding-top: 20px;
}

.mid h2, .mid h1{
    animation: TITLE 1.2s ease-out;
}
@keyframes TITLE {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}


/*-------------------------------CONTAINER TOILES----------------------------------------------*/
.container{
    margin-top: 15px;
    padding: 40px 0px;
}
.container a{
    cursor: pointer;
}
.TLC{
    width: 60%;
    border: 3px solid black;
}
.DJ{
    width: 50%;
    border: 3px solid black;
}
#image{
    border: 3px solid black;
    width: 30%;
    max-width: 800px;
}
#snake{
    border: 3px solid black;
    width: 30%;
    max-width: 800px;
}
.titre{
    font-weight: bold;
    font-size: large;
    padding-bottom: 5px;
}
.prix{
    font-weight: bold;
    color: #000000;
    padding-bottom: 5px;
}
.dimension{
    font-size: 14px;
    padding-bottom: 5px;
}
.description{
    font-size: 15px;
}
.container{
    text-align: center;
}

/*-------------------SPECIAL cONTAINER--------------------*/

.soldout{
    color: rgb(65, 1, 1);
    font-weight: bold;
    font-size: large;
}

.imgsoldout{
    width: 60%;
    max-width: 800px;
    border: 2px solid rgb(65, 1, 1);
}


/*----------------------------FOOTER---------------------------------*/

/*---------------HOME CANVAS STUDIO----------------*/
.footer{
    border-top: 2px solid  black;
    box-sizing: border-box;
    text-align: center;
    padding: 35px;
    width: 100%;
    font-size: small;
    color: rgb(206, 206, 206);
    background-color: var(--footer);
}
.footerbutton button{
    font-size: 16px;
    background-color: inherit;
    color: rgb(206, 206, 206);
    border: none;
    cursor:pointer;
    margin: 0px 10px;
    padding-bottom: 2px;
}
/*-------------EMAIL INSTA--------------------*/
.email{
    margin-top: 20px;
}
.footer a{
    text-decoration: none;
    color: inherit;
}
.footerapp div{
    position: relative;
    left: 1.2rem;
    box-sizing: border-box;
    margin: 0px 15px;
    display: inline;
}
.insta{
    position: relative;
    top: 3px;
    padding:0;
    margin: 15px 0px 0px 4px;
}
.block{
    white-space: nowrap;
}
.footer img{
    padding-top: 10px;
    width: 15px;
    height: 15px;
}
.footerapp section{
    display: inline;
}
.copyright{
    padding-bottom: 20px;
    position: relative;
    top: 40px;
    background-color: inherit;
}
/*-----------------FOOTER BUTTON :HOVER-------------*/
.footerbutton button:hover{
    color: rgb(165, 165, 165);
 }

.footerbutton .home, .canvas, .studio, p{
    position: relative;
    display: inline;
}

.footer .home:after{
    background-color: rgb(247, 247, 247);
}
.footer .canvas:after{
    background-color: rgb(255, 255, 255);
}
.footer .studio:after{
    background-color: rgb(255, 255, 255);
}

.footerapp p:after {
    background:-webkit-linear-gradient(right, orange, rgba(180, 0, 180, 0.548));
  }

.footerbutton .home:after, .canvas:after, .studio:after, p:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; 
}

.footerbutton .home:hover:after, .canvas:hover:after, .studio:hover:after, p:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}




/*-------------------------------------------MEDIA----------------------------------------*/
@media screen and (max-width: 1200px) {
    .searchbar{
        width: 60%;
    }
}  
@media screen and (max-width: 1000px) {   
.btncontainer button{
    text-align: center;
    display: block;
    width: 100%;
    margin: 20px 0;
}
.searchbar .btncontainer{
    display: block;
    width: fit-content;
}
.searchbar{
    width:25%;
    margin: auto;
    padding: 5px 0;
}

.marchand{
    width: 100%;
    height: auto;
}

.hide{
    width: 300px;
    left: 5px;
    margin-top: 92px;
}

.TLC{
    width: 85%;
}
.DJ{
    width: 80%;
}
#top{
    width: 70%;
    max-width: 800px;
}
#snake{
    width: 60%;
    max-width: 800px;
}
}

@media screen and (max-width: 600px) {  
    .footerapp div{
        display: block;
        left: 0.5rem;
    }
} 