:root{
    --header:rgb(32, 32, 32);
    --main:rgb(241, 241, 241);
    --footer:rgb(80, 80, 80);
}
*{
    padding: 0;
    margin: 0;
}
html body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--footer);
}













/*-------------------------------------------TOP-----------------------------------------------------*/
.top{
    z-index: 1;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(142, 170, 255);
    border: 3px solid black;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}
.top:hover{
    transform: scale(1.1);
}
/*-------------------------------------------------HEADER-------------------------------------------------*/
header{
    background-color:var(--header);
    text-align: center;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}
.marchand{
    width: 75%;
    height: auto;
}

















/*-------------------------------------------------MAIN---------------------------------------*/
main{
    padding-top: 40px;
    background-color: var(--main);
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

















/*---------------------------------------------SEARCHBAR---------------------------------------*/
.searchbar{
    border: 2px solid black;
    background-color: var(--header);
    width: 30%;
    margin: auto;
    border-radius: 3vh;
    min-width: 150px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.searchbar button:hover a{
    color:rgb(190, 190, 190) ;
}

.btncontainer{
    display: inline-block;
    background-color: inherit;
    width: 20%;
    margin: 1rem;
}

.btncontainer button a{
    text-decoration: none;
    color:rgb(236, 236, 236);
    animation: search 1.2s ease-out;
}
@keyframes search {
    from{
        color: var(--header);
    }
    to{
        color:rgb(236, 236, 236); ;
    }
}
.btncontainer button{
    border: none;
    background-color: var(--header);
    font-size: 20px;
    cursor: pointer;
}













/*-----------------------------------------TITRE-------------------------------------------*/

.mid h1{
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    padding-top: 20px;
}
.mid h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    padding-top: 20px;
}

.mid h2, .mid h1{
    animation: TITLE 1.2s ease-out;
}
@keyframes TITLE {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}













/*-----------------------------------------------------TATTOO-----------------------------------------------*/

.tattoo{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    box-sizing: border-box;
    margin: 30px;
    width: 45%;
    opacity: 0;
}
.tattoo img{
    border: 3px solid black;
    width: 80%;
}
.notreveal{
    opacity: 1;
}
.active{
    animation: fade_in 0.8s forwards;
}
@keyframes fade_in {
    to{
        opacity: 1;
    }    
}




















/*---------------HOME CANVAS----------------*/
.footer{
    border-top: 2px solid  black;
    box-sizing: border-box;
    text-align: center;
    padding: 35px;
    width: 100%;
    font-size: small;
    color: rgb(206, 206, 206);
    background-color: var(--footer);
}
.footerbutton a{
    font-weight: 450;
    left: 7px;
    font-size: 16px;
    background-color: inherit;
    color: rgb(206, 206, 206);
    border: none;
    cursor:pointer;
    margin: 0px 12px;
    padding-bottom: 2px;
}
/*-------------EMAIL INSTA--------------------*/
.email{
    margin-top: 20px;
}
.footer a{
    text-decoration: none;
    color: inherit;
}
.footerapp div{
    position: relative;
    left: 1.2rem;
    box-sizing: border-box;
    margin: 0px 15px;
    display: inline;
}
.insta{
    position: relative;
    top: 3px;
    padding:0;
    margin: 15px 0px 0px 4px;
}
.block{
    white-space: nowrap;
}
.footer img{
    padding-top: 10px;
    width: 15px;
    height: 15px;
}
.footerapp section{
    display: inline;
}
.copyright{
    padding-bottom: 20px;
    position: relative;
    top: 40px;
    background-color: inherit;
}
/*-----------------FOOTER BUTTON :HOVER-------------*/
.footerbutton a:hover{
    color: rgb(165, 165, 165);
 }

.footerbutton .home, .canvas, .studio, p{
    position: relative;
    display: inline;
}

.footer .home:after{
    background-color: rgb(255, 255, 255);
}
.footer .canvas:after{
    background-color: rgb(255, 255, 255);
}
.footer .studio:after{
    background-color: rgb(255, 255, 255);
}

.footerapp p:after {
    background:-webkit-linear-gradient(right, orange, rgba(180, 0, 180, 0.548));
  }

.footerbutton .home:after, .canvas:after, .studio:after, p:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; 
}

.footerbutton .home:hover:after, .canvas:hover:after, .studio:hover:after, p:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}



















/*-------------------------------------------MEDIA----------------------------------------*/
@media screen and (max-width: 1200px) {
    .searchbar{
        width: 60%;
    }
}  
@media screen and (max-width: 1000px) {   
    .searchbar{
        flex-direction: column;
        align-items: center;
    }  
.btncontainer button{
    text-align: center;
    display: block;
    width: 100%;
    margin: 10px 0;
}
.container{
    width: 80%;
}
.searchbar .btncontainer{
    display: block;
    width: fit-content;
}
.searchbar{
    width:25%;
    margin: auto;
    padding: 5px 0;
}
}

@media screen and (max-width: 600px) {  
    .footerapp div{
        display: block;
        left: 0.5rem;
    }
} 